/* Nav Bar Styling*/
html{
    font-size: 16px;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing:border-box;
    padding-top: 6rem;

}

nav{
    font-size : 1.1rem;
    background-color:  #00246B;
    height: 6rem;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
}

label.logo{
    color: white;
    line-height: 6rem;
    margin-left:4rem;
    margin-right: 0;
    font-weight: bold;
    font-size: 2rem;
}

nav ul{
    float: right;
    margin-right: 4rem;
    text-transform: uppercase;
}

nav ul li{
    display: inline-block;
    line-height: 4rem;
    margin: 0 1rem;
}

nav ul li a{
    color: white;
    padding: 0.3125rem;
}

a.active, a:hover{
    background-color: #3662b9;
    transition: 0.5s;
}

.checkbtn{
    color: #ffffff;
    font-size: 2rem;
    float: right;
    line-height: 6rem;
    margin-right: 2.5rem;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 1300px){
    label.logo{
        font-size: 1.7rem;
    }
    
    nav ul li a{
        font-size: 1rem;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    .navbar{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 4.9rem;
        left: -105%;
        text-align: center;
        transition: all .5s;
        overflow: hidden;
    
    }
    nav ul li{
        display: block;
        margin: 3.125rem;
        line-height: 1.875rem;
    }

    nav ul li a{
        font-size: 1.25rem;
        font-weight: bold;
    }
    a:hover, a.active{
        background: none;
        color: #3662b9;
    }
    #check:checked ~ul{
        left: 0%;
    }
}

/*About Me Section styling */

section.about-me, section.projects{
    margin: 1rem 7rem; 
}

section p{
    margin-top: 1rem;
}

/*Skills section styling */
section.skills{
    padding: 1rem 7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #CADCFC;
}

section.skills h2{
    margin-bottom: 1rem;
}

section.skills .icons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Projects section styling*/
section.projects h3{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

section.projects li{
    margin-bottom:0.5rem;
}

section.projects li li{
    list-style-type: circle;
    margin-left: 2rem;
}